<div class="container">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <input
        class="form-control"
        type="text"
        placeholder="[CITY], [STATE CODE], [COUNTRY CODE]"
        [(ngModel)]="searchQuery"
      />
    </div>
    <div class="col-3">
      <button
        type="button"
        class="btn btn-primary"
        (click)="getCurrentWeather(searchQuery)"
      >
        Get Current Weather!
      </button>
    </div>
    <div class="col"></div>
  </div>

  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <div *ngIf="currentWeather.name !== ''">
        <h1>Location: {{ currentWeather.location() }}</h1>
        <h2>Temperature: {{ currentWeather.temp() }}°F</h2>
        <h2>Humidity: {{ currentWeather.humidity() }}%</h2>
        <h2>Wind speed: {{ currentWeather.speed() }} mph</h2>
      </div>
    </div>
  </div>
</div>
