<div class="container">
  <div class="row mt-5">
    <div class="col-8 offset-md-3 col-md-4">
      <input
        class="form-control"
        type="text"
        placeholder="[City], [State Code], [Country Code]"
        [(ngModel)]="searchQuery"
      />
    </div>
    <div class="col-4 col-md-2">
      <button
        type="button"
        class="btn btn-primary"
        (click)="getCurrentWeather(searchQuery)"
      >
        Get Current Weather!
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 offset-md-3 col-md-6">
      <div *ngIf="currentWeather.name !== '' && errMsg === ''">
        <h1><b>Location:</b> {{ currentWeather.location() }}</h1>
        <h1><b>Temperature:</b> {{ currentWeather.temp() }}°F</h1>
        <h1><b>Humidity:</b> {{ currentWeather.humidity() }}%</h1>
        <h1><b>Wind speed:</b> {{ currentWeather.speed() }} mph</h1>
      </div>
      <div *ngIf="errMsg !== ''">{{ errMsg }}</div>
    </div>
  </div>
</div>
